.statistics {
  margin: 0;
}

.title {
  margin: 0 auto;
  height: 50px;
  background-color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 3;
  color: black;
  text-align: center;
  align-items: center;
}

.statList {
  display: flex;
  padding: 0;
  margin: 0;
  color: black;
}

.item {
  width: 70px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: honeydew;
  border-top: 1px solid#d6d6d6;
}

.item:not(:last-child) {
  border-right: 1px solid#d6d6d6;
}

.item span {
  width: 100%;
  text-align: center;
}
